*{
    margin: 0%;
    padding: 0%;
}
#box-div{
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

#bar-area rect{
    fill: cornflowerblue;
    opacity: 0.5;
}

#content .axis{
    stroke: #000;
}

#content .axis-day{
    text-anchor: middle;
    dominant-baseline: middle;
    fill: dimgray;
    font-size: 1.25rem;
    /* letter-spacing: .9375rem; */
    writing-mode: tb;
    -webkit-writing-mode: tb;
    -ms-writing-mode: tb;
}